.form {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.container-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.label-form {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input-form {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.button-form {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.button-form:hover {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
