.form {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.container-form {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 10px;
  padding: 0.5rem;
}

.label-form {
  color: #051947;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
}

.input-form {
  border: 1px solid #051947;
  border-radius: 5px;
  color: #051947;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
  padding: 0.5rem;
}

.button-form {
  background-color: #305cec;
  border-radius: 5px;
  box-shadow: #051947 0 0 0 1px inset;
  color: white;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  margin-left: 450px;
  padding: 0.5rem;
  width: 400px;
}

.button-form:hover {
  background-color: #4caf50;
  box-shadow: #051947 0 0 0 1px inset;
  color: black;
}
