table.css

.table-container {
  align-items: flex-start;
  display: flex;
  padding: 1rem;
}

.content-table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  margin: 20px 0;
  min-width: 400px;
  overflow: hidden;
}

.content-table thead tr {
  background-color: #00980f;
  color: rgb(255, 254, 254);
  font-weight: 700;
  text-align: left;
}

.content-table th , .content-table td {
  border: 1px solid #00980f;
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #fefefe;
}

.content-table tbody tr:nth-of-type( even ) {
  background-color: #f7f4f4;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #00980f;
}

.content-table tbody tr .active-row {
  color: #00980f;
  font-weight: 700;
}

.table-body {
  text-align: center;
}

.table-title {
  font-family: Courier, monospace;
  text-align: center;
}

.title {
  font-family: Courier, monospace;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.delete-btn {
  background-color: #f7f4f4;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.content-table td {
  font-family: Courier, monospace;
  font-weight: 600;
  text-align: center;
}
