.table-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.delete-btn {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.delete-btn:hover {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.edit-btn {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.edit-btn:hover {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.table-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.tag {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.method {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.currency {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.real {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
